header {
	text-align: center;
	border-bottom: 7px groove #300705;
	margin-top: 1.5%;
	color:#300705;
}

.footer{
	margin-top:5%;
	border-top: 2px solid #300705;
	color:white;
}

.tabs-sections{
	background:rgb(54, 25, 25);
}

a { text-decoration: none; color:#FFF6E6}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.devicetype{
	position: fixed;
	float: left;
	top:0px;
	left:0px;
	color:white;
	font-size: 1.4em;
}

body {
	background-color:#efe4d2;
	font-family: Tahoma;
	background-image: url(redwallpaper.jpg);
	background-size:100% 100%;
}

html {
	margin:2em;
}

h1 {
	margin:0;
}

.tabs {
	margin-top:4%;
	margin-left: 2%;
	margin-right: 2%;
}

nav ul {
	margin:0; padding:0; list-style:none;
}

nav li {
	display:inline-block;
}

nav li a {
	display:block; 
	padding:1em; 
	color:#ccc; 
	text-decoration:none; 
	background-color:gray;
}

.tabs-sections {
	padding:0 1em; 
	border:1px solid gray;
}

.active a {
	color:#000; 
	background-color:lightgray;
}

.s2, .s3, .s4, .s5 {
	display:none;
}

#teamworkpic{
	margin-left: .6%;
	width:15%;
	float:right;
	border:6.5px groove #4C6E53;
	box-shadow: 3px 3px #E2B9E5;
	}

#postkard{
	float: right;
	margin-left: .6%;
	border:6.5px groove #4C6E53;
	box-shadow: 3px 3px #E2B9E5;
}

#home {
	position: fixed; 
	float: right;
	top: 0px;
	right: 0px;
}

#home:hover{
			opacity: .3;
		}

 * {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
    html {width:100%; margin:0; padding:0; font-size:100%;}
    body {width:100%; margin:0; padding:0; color:#FFF6E6; font:1em/1.5em;}
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}

	@media screen {
		nav li a {
			background-color:#4C6E53;
		}
		h3 {
			color:##FFF6E6;
			}
		#devicetypedesktop {
			display:none;
		}
		#devicetypetablet {
			display:none;
		}
		#devicetypemobile{
			display:block;
		}
	}
		
	@media only screen and (min-width:700px) {
		nav li a {
			background-color:#6C586E;
		}
		h3 {
			color: ##FFF6E6;
		}
		#devicetypedesktop {
			display:none;
		}
		#devicetypemobile {
			display:none;
		}
		#devicetypetablet {
			display:block;
		}
	}
	
	@media only screen and (min-width:950px) {
		nav li a {
			background-color:#59617F;
		}
		h3 {
			color: ##FFF6E6;
		}
		#devicetypemobile {
			display:none;
		}
		#devicetypetablet {
			display:none;
		}
		#devicetypedesktop {
			display:block;
		}
	}