.writing {
	display: none;
	}

#home {
	position: fixed; 
	float: right;
	top: 0px;
	right: 0px;
}

#home:hover{
	opacity: .3;
}
		
header {
	text-align: center;
	border-bottom: 7px groove #7CC2FF;
}

body {
	background-color:#efe4d2;
	font-family: Tahoma;
	background-image: url(ice_age.png);
}

.course {
	margin-bottom: .3%;
	padding: 1.5%;
	font-size: 150%;
}

.course:hover{
	opacity: .6;
}
#notheader{
	margin-top:4%;	
}

#webdev{
	background-image:url('keyboard.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#semii{
	background-image:url('athens.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#poem{
	background-image:url('shakespeare.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#philo{
	background-image:url('aquinas.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

 * {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
    html {width:100%; margin:0; padding:0; font-size:100%;}
    body {width:100%; margin:0; padding:0; color:#333; font:1em/1.5em;}
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}

	@media screen{
		.course {
			border: 5px inset #4C6E53;
		}
	}
		
	@media only screen and (min-width:700px) {
		.course {
			border: 5px inset #6C586E;
		}
	}
	
	@media only screen and (min-width:950px) {
		.course {
			border: 5px inset #59617F;
		}
	}