.writing {
	display: none;
	}

#home {
	position: fixed; 
	float: right;
	top: 0px;
	right: 0px;
}

#home:hover{
	opacity: .3;
}
		
header {
	text-align: center;
	border-bottom: 7px groove ##4B390A;
	color: #403414;
}

.devicetype{
	position: fixed;
	float: left;
	top:0px;
	left:0px;
	color:white;
	font-size: 1.4em;
}

.footer{
	margin-top:5%;
	border-top: 2px solid #4B390A;
	color:white;
}

a { text-decoration: none; color:white}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

body {
	background-color:#efe4d2;
	font-family: Tahoma;
	background-image: url(goldwallpaper.jpg);
	background-size:100% 100%;
}

.course {
	margin-bottom: .2%;
	padding: 1.5%;
	font-size: 150%;
	opacity:.7;
}

.course:hover{
	opacity: .6;
}
#notheader{
	margin-top:4%;	
}

#webdev{
	background-image:url('keyboard.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#semii{
	background-image:url('athens.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#poem{
	background-image:url('shakespeare.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#philo{
	background-image:url('aquinas.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

 * {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
    html {width:100%; margin:0; padding:0; font-size:100%;}
    body {width:100%; margin:0; padding:0; color:#403414; font:1em/1.5em;}
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}

	@media screen{
		.course{
			border: 5px solid #4C6E53;
			width: 96%;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
		.accordion{
			display: block;
			margin-right: auto;
			margin-left: auto;
			width: 90%;
		}
		#devicetypedesktop {
			display:none;
		}
		#devicetypetablet {
			display:none;
		}
		#devicetypemobile{
			display:block;
		}
	}
		
	@media only screen and (min-width:700px) {
		.course{
			border: 5px solid #6C586E;
			width: 100%;
		}
		.accordion{
			width:100%;
		}
		#devicetypedesktop {
			display:none;
		}
		#devicetypemobile {
			display:none;
		}
		#devicetypetablet {
			display:block;
		}
	}
	
	@media only screen and (min-width:950px) {
		.course{
			border: 5px solid #59617F;
			width: 100%;
		}
		.accordion{
			width:100%;
		}
		#devicetypemobile {
			display:none;
		}
		#devicetypetablet {
			display:none;
		}
		#devicetypedesktop {
			display:block;
		}
	}