header {
	text-align: center;
	border-bottom: 7px groove #007371;
}

footer{
	margin-top:30%;
	color:white;
}

body {
	background-color:#67BFBC;
	font-family: Tahoma;
	background-image: url(bluewallpaper.jpg);
	background-size:100% 100%;
	color: white;
}

a { text-decoration: none; color:white}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

 * {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
    html {width:100%; margin:0; padding:0; font-size:100%;}
    body {width:100%; margin:0; padding:0; color:#210033; font:1em/1.5em;}
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block;}

	@media screen {
		.maindesktop {padding:5%; margin:.5%; float:left; width:98%; border: 2px groove #004746; border-radius: 25px; text-align:center; margin-bottom:2%;}
		#aboutme {margin-top:4%; background-color: #630137;}
		#resume {background-color: #700F13;}
		#fall2013work {background-color: #5C6363;}
		#aboutme:hover {
			opacity: .6;
		}
		#resume:hover {
			opacity: .6;
		}
		#fall2013work:hover {
			opacity: .6;
		}
	}
		
	@media only screen and (min-width:700px) {
		.maindesktop {padding:5%; margin:.5%; float:left; border: 2px solid #004746; text-align:center;}
		#aboutme {margin-right: 1.5%; margin-left: 1.5%; width: 97%; margin-bottom: 2%; margin-top:4%; background-color: #630137;}
		#resume {margin: auto; width: 47%; margin-left:2%; margin-right:1.5%; background-color: #700F13;}
		#fall2013work {margin: auto; width: 47%;; margin-left:1.5%; background-color: #5C6363;}
		#aboutme:hover {
			opacity: .6;
		}
		#resume:hover {
			opacity: .6;
		}
		#fall2013work:hover {
			opacity: .6;
		}	
	}
	
	@media only screen and (min-width:950px) {
		.maindesktop {padding:5%; float:left; border: 5px inset #004746; border-radius:25px; box-shadow: 8px 8px 3px #007371; text-align:center; opacity: .7}
		#aboutme {margin-left: 2%; background-color: blue; -webkit-animation: aboutmecolor 2s ease infinite; -webkit-animation-direction: alternate; width:30%; margin-top:4%;}
		#resume {margin-right: 2%; -webkit-animation: resumecolor 2s ease infinite; -webkit-animation-direction: alternate; width:30%; margin-top:4%;}
		#fall2013work {-webkit-animation: fall2013workcolor 2s ease infinite; -webkit-animation-direction: alternate; width:30%; margin-top:4%;}
		#aboutme:hover {
			opacity: .9;
		}
		#resume:hover {
			opacity: .9;
		}
		#fall2013work:hover {
			opacity: .9;
		}
	}

@-webkit-keyframes aboutmecolor {
  0% {background-color: #400023;}
  25% {background-color:#400023;}
  50% {background-color:#630137;}
  75% {background-color:#630137;}
  100% {background-color:#940152;}
}

@-webkit-keyframes fall2013workcolor {
  0% {background-color: #B56300;}
  25% {background-color:#B56300;}
  50% {background-color:#E5AC01;}
  75% {background-color:#E5AC01;}
  100% {background-color:##FFD050;}
}

@-webkit-keyframes resumecolor {
  0% {background-color: #700F13;}
  25% {background-color:#700F13;}
  50% {background-color:#630D11;}
  75% {background-color:#630D11;}
  100% {background-color:#E51F27;}
}